<!DOCTYPE html>
<html lang="es">
<head>
  <title>Millennial Pet</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- LINKEOS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo2.png" />
  <link rel="stylesheet" href="css/styleIndex.css">
  <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
  <link rel="stylesheet" href="css/buttons.css">
  <link rel="stylesheet" href="css/materialize.min.css">
  
  <!-- TERMINAN LINKEOS -->
</head>

<body>

  <!-- COMIENZO DEL NAV -->
<a name="arriba"></a>
<div class="navbar-fixed">
<nav>
    <div id="site-header" class="nav-wrapper black">
      <a href="index.html" class="brand-logo center"><img src="img/logo240.png"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="packs.html">Paquetes</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="promociones.html">Promociones</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="registro-Login.html">Únete</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="acercade.html">¿Quiénes somos?</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- TERMINA NAV -->
<!-- COMIENZA SIDENAV -->
  <ul class="sidenav blue-darken" id="mobile-demo">
    <li><div class="user-view">
      <div class="background">
        <img class="responsive-img" src="img/bulldog3.jpg">
      </div>
      <a href="#user"><img class="circle" src="img/logo1.png"></a>
      <a href="#name"><span class="white-text name">Millennial Pet</span></a>
      <a href="#email"><span class="white-text email">Sonríe más, ladra menos</span></a>
    </div></li>
    
     <li><a href="index.html"><i class="material-icons">home</i>Home</a></li>
     <li><a href="packs.html"><i class="material-icons">card_travel</i>Paquetes</a></li>
     <li><a href="productos.html"><i class="material-icons">dialpad</i>Productos</a></li>
     <li><a href="#"><i class="material-icons">attach_money</i>Promociones</a></li>
     <li><a href="contacto.html"><i class="material-icons">call</i>Contacto</a></li>
    
    <li><div class="divider"></div></li>
    <li><a class="subheader"><i class="material-icons">person</i> Cuenta</a></li>
    <li><a class="waves-effect" href="iniciarSesión.html"><i class="material-icons">subdirectory_arrow_right</i> Iniciar sesión</a></li>
    <li><a class="waves-effect" href="registro.html"><i class="material-icons">person_add</i> Registrarse</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="acercade.html"><i class="material-icons"></i>Acerca de nosotros</a></li>
   
  </ul>
<!-- TERMINA SIDENAV -->
  

<!-- COMIENZO DEL MAIN -->
<main>
  
<div class="row"> 
      <div class="col s6">
        <div class="row"> 
          <div class="col s1"></div>
          <div class="col s11">
            <h3>Envíanos un e-mail</h3>
          </div>
          
        </div>
        <div class="row"> 
          <div class="col s1"></div>
          <div class="col s11">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfK9brca6DS6Z1baosUT0b1kBVLfypyOAnDlqGRytE8ScVr4Q/viewform?embedded=true" width="600" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
          </div>
           
        </div>
      </div>
      <div class="col s6"> 
        <div class="row"> 
            <center><h3>Llámanos</h3></center>
        </div>
        <div class="row"> 
            <center><h6>&#9742; 01 800-876-987-122</h6></center>
        </div>
        <div class="row"> 
            <div class="col s4"></div>
            <div class="col s8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d589.7214489897734!2d-99.18227522637677!3d19.327620458546228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce000454d028e9%3A0x4a85a53ac30dc37b!2sPROTECO!5e0!3m2!1ses-419!2smx!4v1525939551788" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
        </div>
      </div>
</div>


</main>


</body>

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/appTienda.js"></script>
<script src="js/styleTienda.css"></script>


<!-- COMIENZA FOOTER -->  
  <footer class="page-footer  black"  id="myFooter" >

   <div class="row">
    <center>
      <div class="col s12">¡SÍGUENOS EN NUESTRAS REDES SOCIALES!</div>
      <div class="col s4"></div>

      <div class="row">
        <div class="col s3"></div>

        <div class="col s12">
          <center>
            <br>
            <br>
            <span><a href="#arriba" title="Ir arriba"><img src="img/up.png" border="0" width="70" height="70"  href="#abajo" title="Ir arriba"></a></span>
            <br>
            <a href="https://www.instagram.com/tiendasoxxo/"><img src="img/icon8/instagram.png"/></a>
            <a href="https://twitter.com/Tiendas_OXXO"><img src="img/icon8/twitter.png"/></a>
            <a href="https://www.youtube.com/user/tiendaoxxo"><img src="img/icon8/youtube.png"/></a>
            <a href="https://www.oxxo.com/"><img src="img/icon8/github-circle.png"/></a>
            <a href="https://www.facebook.com/OXXOTiendas"><img src="img/icon8/facebook.png"/></a>

          </center>
        </div>
        <div class="col s3"></div>

      </div>


      <div class="row">
        <div class="col s3"></div>
        <div class="col s3"><br>Todos los derechos reservados</div>
        <div class="col s3"><br>Millennial Pet S.A de C.V</div>
        <div class="col s3"></div>
      </div>


      <div class="footer-copyright">
        <div class="col s12">
          © 2018 Copyright 
        </div>
      </div>
      <br>
    </footer>
<!-- TERMINA FOOTER -->

</html>