<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Sopa de Recetas</title>
	<link rel="shortcut icon" href="img/icons8-alimentos-orgánicos-40.png">
</head>
<body>
	<!-- Comienza NavBar -->
	<nav>
		<div class="nav-wrapper yellow lighten-1">
			<a href="#!" class="brand-logo"><img src="img/icons8-comida-96.png" alt="Logo de Sopa de Recetas" width="70" height="70"></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="index.html">Inicio</a></li>
				<li><a href="sopas.html">Sopas</a></li>
				<li><a href="collapsible.html">Platos Fuertes</a></li>
				<li><a href="mobile.html">Carnes y Aves</a></li>
				<li><a href="mobile.html">Bebidas</a></li>
				<li><a href="mobile.html">Postres</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav yellow lighten-1" id="mobile-demo">
		<li><a href="sass.html">Inicio</a></li>
		<li><a href="badges.html">Sopas</a></li>
		<li><a href="collapsible.html">Platos Fuertes</a></li>
		<li><a href="mobile.html">Carnes y Aves</a></li>
		<li><a href="mobile.html">Bebidas</a></li>
		<li><a href="mobile.html">Postres</a></li>
	</ul>
	<!-- Termina NavBar -->

	<!-- Comienza Slider -->
	<div class="slider">
		<div class="parallax-container">
			<ul class="slides">
				<li>
					<img src="img/tacos.jpg"> <!-- random image -->
					<div class="caption right-align">
						<h3 class="white-text text-darken-3">Tacos: Un platillo creado por los dioses del olimpo</h3>
						<h5 class="light white-text text-darken-3">Da click aquí para ver la receta completa y preparar este delicioso platillo.</h5>
					</div>
				</li>
				<li>
					<img src="img/Carne.jpg"> <!-- random image -->
					<div class="caption left-align">
						<h3 class="grey-text text-darken-3">Carne de Res en Salsa Poblana y Calabacitas</h3>
						<h5 class="light grey-text text-darken-3">Una de las recetas favorias en el Top de Carnes y Aves.</h5>
					</div>
				</li>
				<li>
					<img src="img/Burritos.jpg"> <!-- random image -->
					<div class="caption right-align">
						<h3>Burritos de carne y queso</h3>
						<h5 class="light grey-text text-lighten-3">Da click aquí para preparar esos burritos que ni Obama tiene.</h5>
					</div>
				</li>
				<li>
					<img src="img/atole.jpg"> <!-- random image -->
					<div class="caption center-align">
						<h3>Atole de Nuez Gourmet</h3>
						<h5 class="light grey-text text-lighten-3">Sentirse en casa jamás fue tan sencillo.</h5>
					</div>
				</li>
			</ul></div>
		</div>
		<!-- Termina Slider -->

		<div class="row">
			<div class="col s1">
				
			</div>
			<div class="col s11">
				<h2>Top 10 de las mejores recetas del mes</h2>				
			</div>
		</div>


		<!-- Comienzan cards -->
		<div class="row">
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/pescado_poblano.jpg">
						<span class="card-title">Pescado Poblano con Berros y Elotes</span>
					</div>
					<div class="card-content">
						<p>Esta receta de Pescado tiene un ligero toque de picor con la salsa cremosa de chile poblano. Acompáñalo con berros y ejotes y agrégale una buena ración de vitaminas y minerales que le darán enormes beneficios a tu familia.</p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/mojito_coco.jpg">
						<span class="card-title">Mojito Frappé de Coco</span>
					</div>
					<div class="card-content">
						<p>Con este calor, ¿a quién no se le antoja un rico mojito frappé de coco? Esta bebida es refrescante, ligera y llena de sabor a coco y hierbabuena con un toque de limón y ron. ¡Tienes que probarlo! <br></p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/crema_poblana.jpg">
						<span class="card-title">Crema de Chile Poblano con Espinacas y Almendra Tostada</span>
					</div>
					<div class="card-content">
						<p>Te presentamos la deliciosa Crema de chile poblano con espinacas y almendra tostada, es la receta perfecta para comenzar una rica cena. Es una preparación muy sencilla y fácil de preparar, sólo hay que cocinar los vegetales, agregar la crema de chile poblano y moler. ¡Deliciosa! </p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Segundo renglon de las cards -->
		<div class="row">
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/crema_chile.jpg">
						<span class="card-title">Crema de Chile Poblano con Elote Asado, Mayonesa y Queso Rallado</span>
					</div>
					<div class="card-content">
						<p>La crema de chile poblano Campbells® es un clásico que no puede faltar en tu recetario, son deliciosos elotes baby, mayonesa, queso rallado y la cremosidad de la crema poblana Campbells®. Es una receta muy simple de preparar pero con un sabor incomparable.</p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/Costillas.jpg">
						<span class="card-title">Costillas a la BBQ</span>
					</div>
					<div class="card-content">
						<p>Disfruta de esta receta con un toque especial de la mejor salsa BBQ. Un platillo realmente fácil de preparar y acompañar con una buena cerveza Corona.</p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/limonada_frambuesa.jpg">
						<span class="card-title">Limonada de Frambuesa</span>
					</div>
					<div class="card-content">
						<p>La limonada de frambuesa es muy refrescante con un toque de tequila para hacerla más interesante y más rica.</p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Tercer renglon de las cards -->
		<div class="row">
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/gnocchi.jpg">
						<span class="card-title">Gnocchi en Salsa Ragú</span>
					</div>
					<div class="card-content">
						<p>Cocina esta receta original de gnocchis de papa muy fáciles y rápidos de preparar, servidos en una salsa ragú con tocino y salchicha con salsa de tomate Del Fuerte®, aromatizada con tomillo fresco, esta deliciosa preparación va servida con queso parmesano y albahaca fresca. <br></p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sopa_pechuga.jpg">
						<span class="card-title"> Sopa de Pechuga</span>
					</div>
					<div class="card-content">
						<p>La Sopa de Pechuga es una receta muy sabrosa, tal como las sopas que te preparaba tu abuelita. Es una preparación de pollo fácil, perfecta para el día a día, con todo el sabor de una rica sopa, que tanto te gusta. </p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/">
						<span class="card-title">Pepiloco con Chamoy</span>
					</div>
					<div class="card-content">
						<p>No puedes dejar pasar tus fiestas sin una botana divertida y original como estos pepilocos rellenos de cacahuates japoneses, jícama, gomitas de mango, zanahoria, salsa picante, empanizados con papitas picantes. ¡Te dejarán picadísimo!</p>
					</div>
					<div class="card-action">
						<a href="#">Video</a>
					</div>
				</div>
			</div>
		</div>




		<!-- Terminan cards -->


		<!-- Comienza Footer -->
		<footer class="page-footer yellow lighten-1">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Todos los derechos reservados</h5>
						<p class="grey-text text-lighten-4">Queda estrictamente prohibida la copia parcial o completa de esta página web.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Redes Sociales</h5>
						<a href=""><img src="img/icons8-facebook-64.png" alt="facebook"></a>
						<a href=""><img src="img/icons8-twitter-64.png" alt="twitter"></a>
						<a href=""><img src="img/icons8-instagram-64.png" alt="instagram"></a>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2018 Copyright Facultad de Ingeniería, UNAM
					<!-- <a class="grey-text text-lighten-4 right" href="#!">Redes Sociales</a> -->
				</div>
			</div>
		</footer>
		<!-- Termina footer -->



		<!-- Comienzan Scripts -->
		<script src="js/jquery.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="js/app.js"></script>
		<!-- Terminan Scripts -->

	</body>	
	</html>